.BannerRowButton{
    padding-right: 10px;
}
.BannerRowButton button{
    height: 35px;
    width: 35px;
    background: white;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 5px;
    border-radius: 50%;
    line-height: 35px;
    font-size: 13px;
    cursor: pointer;
}