.Logo{
    position: absolute;
    left: 5px;
}
.Logo img{
    height: 60px;
}


@media(max-width:420px){
    .Logo{
    width: 40px;
    overflow: hidden;
    }
}
@media(max-width:340px){
    .Logo{
        left:5;
        width: 20px;
        overflow: hidden;
        }
    .Logo img{
        height: 35px;
    }
    
}