.HostRow{
    position: relative;
    padding: 60px 4vw;
    display: block;
}
.HostRow .heading{
    max-width: 100%px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
}
.HostRow .heading h2{
    font-size: 18px;
}
.HostRow .content{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.HostRow .content::-webkit-scrollbar{
    display: none;
}

@media(max-width:420px){
    .HostRow .heading h2{
        font-size: 14px;
    }
}